<%= form_for(@to_do_list, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <h3>ToDoリスト登録</h3>

    <%= f.select :category_id, @my_categories, {}, class: "form-control" %>

    <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>

    <%= f.text_area :comment, class: "form-control", placeholder:"コメント" %>

    <div class="priority_flg">
      <%= f.select :priority_flg, ["優先", "普通", "後で"], {}, class: "form-control" %>
    </div>
    <div class="ending_flg">
      <%= f.select :ending_flg, ["未完了", "完了済み"], {}, class: "form-control" %>
    </div>

    <h4 class="relocate">日時指定</h4>
    <div class='input-group date datepicker' id="picker">
    <%= f.text_field :schedule_date, class: "form-control", placeholder: "日時を選択してください=>" %>
    <span class="input-group-addon">
    </div>

  </div>
  <%= f.submit "登録", class: "btn btn-success" %>
  <span class="picture">
  	<%= f.file_field :picture, class: "form-control", accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
$('#to_do_list_picture').bind('change',function(){
	var size_in_megabytes = this.files[0].size/1024/1024;
	if (size_in_megabytes > 5) {
		alert('ファイルサイズの上限は5MBです。ファイルサイズを変更するか、5MB以下のファイルを選択してください。')
	}
});
</script>