<%= form_for(@to_do_list, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <h3>ToDoリスト登録</h3>

    <%= f.select :category_id, @my_categories, {}, class: "form-control" %>

    <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>

    <h4>実施日時</h4>
    <span class="date_pdown">
    <%= f.date_select :schedule_date, {:use_month_numbers => true, :default => Time.zone.now, :date_separator => '/'} %>
    </span>
    <span class="sep"></span>
    <span class="time_pdown">
    <%= f.time_select :schedule_time, {:default => Time.zone.now}%>
    </span>
    <%= f.text_area :comment, class: "form-control", placeholder:"コメント" %>

  </div>
  <%= f.submit "登録", class: "btn btn-success" %>
  <span class="picture">
  	<%= f.file_field :picture, class: "form-control", accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
$('#to_do_list_picture').bind('change',function(){
	var size_in_megabytes = this.files[0].size/1024/1024;
	if (size_in_megabytes > 5) {
		alert('ファイルサイズの上限は5MBです。ファイルサイズを変更するか、5MB以下のファイルを選択してください。')
	}
});
</script>