<li id="to_do_list-<%= to_do_list.id %>">
<!--暫定的にgravatarを取ってくるが、カテゴリカラーに変更したい-->
<%= link_to gravatar_for(to_do_list.user, size: 50), to_do_list.user %>
<span class="title"><%= link_to to_do_list.title, to_do_list %></span>
<span class="content">
  <%= image_tag to_do_list.picture.url if to_do_list.picture? %>
</span>
<span class="timestamp listedlist">
  <%= to_do_list.schedule_sta.month %>月<%= to_do_list.schedule_sta.day %>日<%= to_do_list.schedule_sta.hour %>時<%= to_do_list.schedule_sta.min %>分〜 <br>
  <% if current_user?(to_do_list.user)%>
    <%= link_to 'x 削除', to_do_list, method: :delete, class: "btn btn-danger delbtn", data: {confirm: "削除してよろしいですか？"} %>
  <% end %>
</span>
<div class="clear_float"></div>
</li>